button{
  background-color: darkblue;
  padding: 5.7px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
  max-width: 350px;
  max-height: 350px;
}
.main-content{
  margin-right: 600px;
}
span{
  font-family: "Bookman Old Style";
}
