<div class="edit-content">
  <form (ngSubmit)="addItem(f)" #f="ngForm">
    <div class="name">
      <label for="name">Name</label>
      <input type="text"
             id="name"
             name="name"
             ngModel
             >
    </div>
    <div class="amount">
      <label for="amount">amount</label>
      <input type="number"
             id="amount"
             name="amount"
             ngModel
             >
    </div>
    <div class="buttons">
      <button type="submit" style="background-color: green">{{editMode ? 'Update' : 'Add'}}</button>
      <button *ngIf="editMode" type="button" style="background-color: red" (click)="onDelete()">Delete</button>
      <button type="button" (click)="onClear()">clear</button>
    </div>
  </form>
</div>
